/* src/components/Header/Header.module.css */
.header {
  background-color: #3f51b5;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  cursor: pointer;
}

.languageSelect {
  margin-left: 1rem;
}
